## Energy saved from recycling
<p>Did you know that recycling saves energy by reducing or eliminating the need to make materials from scratch? For example, aluminum can manufacturers can skip the energy-costly process of producing aluminum from ore by cleaning and melting recycled cans. Aluminum is classified as a non-ferrous metal.</p>
<p>Singapore has an ambitious goal of becoming a zero-waste nation. The amount of waste disposed of in Singapore has increased seven-fold over the last 40 years. At this rate, Semakau Landfill, Singaporeâ€™s only landfill, will run out of space by 2035. Making matters worse, Singapore has limited land for building new incineration plants or landfills.</p>
<p>The government would like to motivate citizens by sharing the total energy that the combined recycling efforts have saved every year. They have asked you to help them.</p>
<p>You have been provided with three datasets. The data come from different teams, so the names of waste types may differ.</p>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:16px"><b>datasets/wastestats.csv - Recycling statistics per waste type for the period 2003 to 2017</b>
    </div>
    <div>Source: <a href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling">Singapore National Environment Agency</a></div>
<ul>
    <li><b>waste_type: </b>The type of waste recycled.</li>
    <li><b>waste_disposed_of_tonne: </b>The amount of waste that could not be recycled (in metric tonnes).</li>
    <li><b>total_waste_recycle_tonne: </b>The amount of waste that could be recycled (in metric tonnes).</li>
    <li><b>total_waste_generated: </b>The total amount of waste collected before recycling (in metric tonnes).</li>
    <li><b>recycling_rate: </b>The amount of waste recycled per tonne of waste generated.</li>
    <li><b>year: </b>The recycling year.</li>
</ul>
    </div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/2018_2019_waste.csv - Recycling statistics per waste type for the period 2018 to 2019</b>
    </div>
    <div> Source: <a href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling">Singapore National Environment Agency</a></div>
<ul>
    <li><b>Waste Type: </b>The type of waste recycled.</li>
    <li><b>Total Generated: </b>The total amount of waste collected before recycling (in thousands of metric tonnes).</li> 
    <li><b>Total Recycled: </b>The amount of waste that could be recycled. (in thousands of metric tonnes).</li>
    <li><b>Year: </b>The recycling year.</li>
</ul>
    </div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/energy_saved.csv -  Estimations of the amount of energy saved per waste type in kWh</b>
    </div>
<ul>
    <li><b>material: </b>The type of waste recycled.</li>
    <li><b>energy_saved: </b>An estimate of the energy saved (in kiloWatt hour) by recycling a metric tonne of waste.</li> 
    <li><b>crude_oil_saved: </b>An estimate of the number of barrels of oil saved by recycling a metric tonne of waste.</li>
</ul>

</div>
<pre><code>
</code></pre>

In [118]:
# Use this cell to begin your analysis, and add as many as you would like!
import pandas as pd


Cleaning and importing the first dataset which contains values from year 2003 to 

2017 : Refer to it as Dataset 'A'

In [119]:
names = ['Waste_type', 'Total_waste_recycled', 'Year']
recy_2003 = pd.read_csv('datasets/wastestats.csv')
recy_2003.drop(['waste_disposed_of_tonne', 'total_waste_generated_tonne','recycling_rate'], inplace=True, axis=1)
recy_2003.columns = ['Waste_type', 'Total_waste_recycled', 'Year']
recy_2003.set_index('Year', inplace=True)
recy_2003['Total_waste_recycled'] = recy_2003['Total_waste_recycled']
recy_2003.sort_index(ascending=True, inplace=True)
recy_2003.head()

               Waste_type  Total_waste_recycled
Year
2003  Horticultural Waste              119300.0
2003      Paper/Cardboard              466200.0
2003             Plastics               39100.0
2003  Construction Debris              398300.0
2003          Wood/Timber               40800.0


Cleaning and importing the first dataset which contains values from year 2018 

to 2019: Refer to it as Dataset 'B'

In [120]:
recy_2018 = pd.read_csv('datasets/2018_2019_waste.csv')

recy_2018.drop('Total Generated (\'000 tonnes)', inplace=True, axis=1)
recy_2018.columns = names
recy_2018['Total_waste_recycled'] = recy_2018['Total_waste_recycled']*1000
recy_2018.set_index('Year', inplace=True)
recy_2018.sort_index(ascending=True, inplace=True)
recy_2018.head()

             Waste_type  Total_waste_recycled
Year
2018            Overall               4726000
2018        Scrap Tyres                 29000
2018              Glass                 12000
2018  Non-Ferrous Metal                170000
2018          Used Slag                179000


The table gives the amount of energy saved in kilowatt hour (kWh) and 

the amount of crude oil (barrels) by recycling 1 metric tonne (1000 kilogram) 

per waste type


Importing and cleaning the conversion table, 

also refer to above cell for the conversion metrics

In [121]:
df = pd.read_csv('datasets/energy_saved.csv')
df1 = df.transpose()
df1.reset_index(drop=True, inplace=True)
df1 = df1.iloc[:,2:]
header_row = df1.iloc[0]
energy_saved = df1.iloc[1:]
energy_saved.columns = header_row
energy_saved.set_index('material').fillna('0')
energy_saved.drop('crude_oil saved', axis=1, inplace=True)
energy_saved.columns = ['Waste_type', 'Energy_saved']
energy_saved = energy_saved.iloc[0:4]
energy_saved['Energy_saved'] = energy_saved['Energy_saved'].str.strip(' Kwh').astype('float64')
energy_saved

          Waste_type  Energy_saved
1            Plastic        5774.0
2              Glass          42.0
3      Ferrous Metal         642.0
4  Non-Ferrous Metal       14000.0


Joining Both the Datasets A and B, also assigning the index as Year

In [122]:
rec15 = recy_2003[recy_2003.index >= 2015]
rec15_18 = [rec15, recy_2018]
recy_15_18 = pd.concat(rec15_18)
recy_15_18.sort_index()
recy_15_18.head()

               Waste_type  Total_waste_recycled
Year
2015                 Food              104100.0
2015      Paper/Cardboard              603700.0
2015             Plastics               57800.0
2015                  C&D             1402900.0
2015  Horticultural waste              237200.0


Cleaning the data, matching the names with the metrics dataset 

Grouping the data for the 4 materials [Plastic, Ferrous, non ferrous, glass]

In [123]:
w = ['Ferrous metal', 'Glass', 'Plastic', 'Ferrous Metal', 'Plastics', 'Non-Ferrous Metal', 'Non-ferrous metal', 'Non-ferrous metals']
food = recy_15_18[recy_15_18['Waste_type'].isin(w)].groupby(['Year','Waste_type']).sum()
food.reset_index(inplace=True)
food.at[[3,7,15,19],'Waste_type'] = 'Plastic'
food.at[[0,4,8],'Waste_type'] = 'Ferrous Metal'
food.at[[2,6,10,14,18],'Waste_type'] = 'Non-Ferrous Metal'
food.head()

   Year         Waste_type  Total_waste_recycled
0  2015      Ferrous Metal             1333300.0
1  2015              Glass               14600.0
2  2015  Non-Ferrous Metal              160400.0
3  2015            Plastic               57800.0
4  2016      Ferrous Metal             1351500.0


Calculating the energy saved for each material for each year, and adding it as 

a new column in out DataFrame named Food

In [124]:
food['Energy_saved'] = 1
for ind1,row1 in food.iterrows():
    for ind2, row2 in energy_saved.iterrows():
        if row1[1] == row2[0]:
            food['Energy_saved'].iloc[ind1] = row1[2] * row2[1]
food.head()

   Year         Waste_type  Total_waste_recycled  Energy_saved
0  2015      Ferrous Metal             1333300.0  8.559786e+08
1  2015              Glass               14600.0  6.132000e+05
2  2015  Non-Ferrous Metal              160400.0  2.245600e+09
3  2015            Plastic               57800.0  3.337372e+08
4  2016      Ferrous Metal             1351500.0  8.676630e+08


Finally preparing the data in the desired format

Setting the index as the year column

Grouping by the year column on food dataframe and adding all the values

accordingly in the energy saved column

In [125]:
annual_energy_savings = food.groupby('Year').sum()
annual_energy_savings.drop('Total_waste_recycled', inplace=True, axis=1)
annual_energy_savings.reset_index(inplace=True)
annual_energy_savings.columns = ['year', 'total_energy_saved']
annual_energy_savings.set_index('year', inplace=True)
annual_energy_savings

      total_energy_saved
year
2015        3.435929e+09
2016        2.554433e+09
2017        2.470596e+09
2018        2.698130e+09
2019        2.765440e+09